// Font family
$font-stack: Inter, Helvetica, Arial, sans-serif;

// Icon size
$icon-size-extra-small: 14px;
$icon-size-small: 20px;
$icon-size-medium: 24px;
$icon-size-large: 36px;
$icon-color-default: #c5ccd5;
